In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
 print(pd.__version__)

2.3.1

In [7]:
num_records = df.shape[0]
num_records

9704

In [8]:
num_of_fuel_types = df['fuel_type'].nunique()
num_of_fuel_types

2

In [9]:
columns_with_missing_values = df.columns[df.isna().any()]
columns_with_missing_values
num_of_columns_with_missing_values = len(columns_with_missing_values)
num_of_columns_with_missing_values

4

In [10]:
max_fuel_efficiency = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
max_fuel_efficiency

np.float64(23.759122836520497)

In [11]:
median_horsepower = df['horsepower'].median()
median_horsepower

np.float64(149.0)

In [12]:
mode_horsepower = df['horsepower'].mode()
mode_horsepower

0    152.0
Name: horsepower, dtype: float64

In [13]:
numeric_column_name = 'horsepower'
mode_value = df[numeric_column_name].mode()[0]
print(f"\nMode of '{numeric_column_name}': {mode_value}")
df[numeric_column_name] = df[numeric_column_name].fillna(mode_value)

Mode of 'horsepower': 152.0

In [14]:
median_horsepower = df['horsepower'].median()
median_horsepower

np.float64(152.0)

In [40]:
asia_cars = df[df['origin'] == 'Asia']
selected_columns = asia_cars[['vehicle_weight', 'model_year']]
first_7_values = selected_columns.head(7)
first_7_values

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [41]:
X = first_7_values.to_numpy()
print(type(X))
print(X)

<class 'numpy.ndarray'>
[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [42]:
XTX = np.dot(X.T, X)
# Alternatively:
# XTX = np.matmul(X.T, X)
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [43]:
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [44]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print(y)

[1100 1300  800  900 1000 1100 1200]

In [46]:
w = np.dot(np.dot(XTX_inv, X.T), y)
print(w)

[0.01386421 0.5049067 ]

In [48]:
sum_of_w = np.sum(w)
print(sum_of_w)

0.5187709081074016