In [2]:
import pandas as pd

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
import pandas as pd
print(pd.__version__)

2.3.1

In [9]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [14]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [15]:
    missing_values_count = df.isnull().sum()
    print(missing_values_count)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [21]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [19]:
    max_score = df['fuel_efficiency_mpg'].max()
    print(f"The maximum score is: {max_score}")

The maximum score is: 25.96722204888372

In [32]:
    import pandas as pd
    import numpy as np

In [33]:
df['horsepower'].median()

np.float64(149.0)

In [47]:
data = df['horsepower']
hp = pd.DataFrame(data)
hp

      horsepower
0          159.0
1           97.0
2           78.0
3          152.0
4          140.0
...          ...
9699       164.0
9700       154.0
9701       138.0
9702       177.0
9703       140.0

[9704 rows x 1 columns]

In [49]:
mode_value = df['horsepower'].mode()[0]
mode_value

np.float64(152.0)

In [50]:
df['horsepower'].fillna(mode_value, inplace=True)

In [51]:
df['horsepower'].median()

np.float64(152.0)

In [54]:
cars_from_asia = df[df['origin'] == 'Asia']

In [56]:
weight_year_from_asia = cars_from_asia[['vehicle_weight','model_year']]

In [59]:
first_seven = weight_year_from_asia.head(7)
first_seven

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [61]:
X = first_seven.to_numpy()

In [62]:
transpose = X.T

In [64]:
XTX = X @ transpose

In [65]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [66]:
inverse_XTX = np.linalg.inv(XTX)

In [70]:
z = inverse_XTX @ transpose

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 2 is different from 7)